.ion-color-americanas {
    --ion-color-base: var(--ion-color-americanas);
    --ion-color-base-rgb: var(--ion-color-americanas-rgb);
    --ion-color-contrast: var(--ion-color-americanas-contrast);
    --ion-color-contrast-rgb: var(--ion-color-americanas-contrast-rgb);
    --ion-color-shade: var(--ion-color-americanas-shade);
    --ion-color-tint: var(--ion-color-americanas-tint);
  }
  .title{display:block; margin:auto; width:160px; height: 38px;}
  .title2{display:block; margin:auto; width:120px; text-align:center;}
  .row1{padding: 120px 0 80px 0;}