<ion-header>
  <ion-toolbar color="americanas">
    <ion-title size="large"><p class="title2">PAINEL</p></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<ion-grid>
  <div class="row1">
    <ion-row>
    <ion-col size="4">
      <ion-item lines="none" routerLink="/perfil" >
        <img src="assets/person.png">
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item lines="none">
        <img src="assets/place.png">
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item lines="none"routerLink="/pesquisa">
        <img src="assets/code.png">
      </ion-item>
    </ion-col>
  </ion-row>
  </div>
  <ion-row>
    <ion-col size="4">
      <ion-item lines="none">
        <img src="assets/notify.png">
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item lines="none">
        <img src="assets/email.png">
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item lines="none">
        <img src="assets/whatsapp.png">
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="americanas">
    <ion-title>
      <img class="title" src="./../../assets/logoAmericanas.png">
    </ion-title>
  </ion-toolbar>
</ion-footer>